body {
    background-color: rgba(78, 175, 78, 0.87);
    text-align: center;
}

.game {
  display: flex;
  /* flex-direction: column ; */
  justify-content: space-around;
  padding: 0;
  margin: 0;
}


h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 10vh;
  color:white;
  text-shadow: 1vh 1vh 1vh black;
  margin-bottom: 0;
}

#gameCanvas {
    position: absolute;
    margin-top: 10vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

#score {
  text-align: center;
  font-size: 140px;
  font-family: 'Antic Slab', serif;
}

#playerOneLine, #playerTwoLine {
  font-size: 3vh;
  text-align: center;
  margin-top: 30vh;
  color: white;
  padding: 2vh;
  font-family: 'Courier New', Courier, monospace;
}

#playerOneLine {
  background-color: rgb(28, 107, 28);
}

#playerTwoLine {
  background-color: rgb(121, 44, 44);
}

button {
  padding: 2vh;
  margin: 3vh;
  font-size: 2vh;
  font-family: 'Courier New', Courier, monospace;
}
